#dashboard-metrics {
    margin: 20px 0px !important;
}
.dashboard-metrics-content-sm {
    border: 2px solid #000 !important;
    width: 180px !important;
    margin: 20px auto !important;
    padding: 20px 8px !important;
}

.dashboard-metrics-content-md {
    border: 2px solid #000 !important;
    width: 150px !important;
    margin: 20px auto !important;
    padding: 20px 8px !important;
}

.dashboard-metrics-content-md label,
.dashboard-metrics-content-sm label {
    font-weight: bold !important;
    color: red !important;
    font-size: 40px !important;
}

.dnc-title {
    font-weight: bold !important;
    margin-right: 30px !important;
    font-size: 16px !important;
}

.fa-arrow-right {
    margin-top: 50px !important;
    font-size: 25px !important;
}