.table-header
{
	width: 100%;
	text-align: center;
	padding: 5px;
	background: #027FAA;
	color: #000;
	font-weight: bold;
	padding: 10px;
	font-size: 12px;
}

#cb-deal-directory table[data-cb-name="cbTable"] td,
#cb-deal-directory table[data-cb-name="cbTable"] th,
#cb-deal-directory table[data-cb-name="cbTable"] a,
#cb-deal-directory .cbFormTextField
{
	font-size : 12px !important;
}

#cb-deal-directory tr[data-cb-name="header"] th a
{
	display: block;
	white-space: initial;
}

#cb-deal-directory *[data-cb-name="data"] td:nth-child(11)
{
	text-align:center;
}

#cb-deal-directory *:not(i),
.cb-search input[type="text"],
.cb-search input[type="button"],
.cb-search input[type="submit"]
{
	font-size:12px !important;
}

.cb-search *[class^="cbSubmitButtonContainer"]
{
	display:none;
}

.cb-search #caspioform > div
{
	margin:auto;
}

table
{
	width: 100% !important;
}

#cb-deal-directory .dropdown-menu .dropdown-item
{
	display:inline-block;
	vertical-align:top;
}

#cb-deal-directory .dropdown-menu
{
	width:500px;
}
